
.letter_container {
    margin: auto;
    width: 100%;
    cursor: pointer;
     display:flex;
     flex-direction:column;
     max-width:1044px;
     padding:20px 10px;
     
}

.inner-container {
    width: 100%;
}

.newsletter_container {
    margin: 16px 0px 16px 19px;
    min-width: 100px;
    min-height: 125px;
    display: flex;
    border-radius: 24px;
    box-shadow: -4px -4px 16px rgba(92, 86, 212, 0.1), 4px 4px 16px rgba(92, 86, 212, 0.1);
    background: #FAFAFF;
    position: relative;

}

.newsletter_image {
    width: 232px;
    min-height: 232px;
    max-height: 300px;
    border-radius: 24px;
}

.newsletter_write {
    padding: 16px;
    background: #FAFAFF;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 0px 24px 24px 0px;
    justify-content: center;
}

.newsletter_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #0C0A29;
}

.newsletter_content {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #0C0A29;
}

.newsletter_tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
}

.tag {
    margin: 3px;
    padding: 1px 15px 1px 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    /* Primary/ #1 Purple */
    justify-content: center;
    color: #B8B8B9;
}


@media (max-width:1360px) {
    .newsletter_title {
        font-weight: 400;
        font-size: 40px;
        line-height: 110%;
    }
    .letter_container{
        max-width:1000px;
    }
}

@media (max-width:1280px) {
    .letter_container {
        max-width: 950px;
    }
}

    @media (max-width:1246px) {
        .newsletter_title {
            font-weight: 400;
            font-size: 35px;
            line-height: 110%;
        }
        .letter_container {
            max-width: 900px;
        }
       
    }

    @media (max-width:1170px) {
        .newsletter_title {
            font-weight: 400;
            font-size: 30px;
            line-height: 110%;
        }

        .letter_container {
            max-width: 900px;
            padding-top: 20px 10px;
        }
    }

    @media (max-width:986px) {
        .newsletter_title {
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
        }

        .letter_container {
            max-width: 800px;
            padding-top: 20px 10px;
        }
    }

    @media (max-width: 1172px) {
        .newsletter_container {
            margin-left: 8px !important;
        }
    }

    @media (max-width:820px) {
        .letter_container {
            max-width: 700px;
            padding-top: 20px 10px;
        }
    }

    @media (max-width:768px) {


        .letter_container {
            max-width: 650px;
            padding-top: 20px 10px;
        }

        .newsletter_container {
            border-radius: 8px;
        }

        .newsletter_image {
            min-height: auto !important;
            height: auto !important;
            max-height: 180px;
            border-radius: 8px;
            /* height: 112px !important; */
            width: 120px !important;
        }

        .newsletter_title {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 14px;
        }

        .newsletter_content {
            font-size: 12px;
        }

        .newsletter_tags {
            display: none;
        }

        .tag {
            display: none;
            font-size: 12px;
        }
    }

    @media (max-width:680px) {

        .outer_newsletter .letter_container {
            max-width:100%;
        } 
        .letter_container {
            max-width: 95%;
            padding-top: 20px 10px;
        }
    }

    @media(max-width:500px) {
        .newsletter_container {
            margin-left: 0px !important;
        }       
    }


