.outer_sqaure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    min-height: 300px;
    font-size: 19px;
    margin: 30px 10px;
   text-align:center
}

.most-outer {
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .most-outer button {
        padding: 5px;
        font-size: 19px;
    }
.success_msg {
    font-size: 25px;
    font-weight: 500;
}
